snippet v
var ${1:something} = $0
endsnippet

snippet f
func ${1:function_name}(${2:parameters}):
    $0
endsnippet

snippet if
if ${1:contition}:
    $0
endsnippet

snippet else
else:
    $0
endsnippet
